@{ Layout = null;}
@model Airplane;
<html>

<head>

        <h1>Airplane</h1>

</head>


<body>
 
    <ul>
        <li>Country: @Model.Country</li>
        <li>Model: @Model.Model</li>
        <li>Introduction year: @Model.IntroductionYear</li>
        <li>Retired: @Model.IsRetired</li>
        <li><a href="@Model.Link">More</a></li>
    </ul>



</body>


</html>