@{ Layout = null;}

<html>

<head>
    <h1>Statistics</h1>
</head>

<body>
    @ViewData["Total"]<br />
    @ViewData["Military"]<br />
    @ViewData["Transport"]<br />
    @ViewData["Pessanger"]<br />
    @ViewData["Unknown"]<br />
</body>

</html>
